<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{{title}}</title>
    <link rel='stylesheet' type='text/css' href='css/styles.css'>
    <link rel='stylesheet' type='text/css' href='css/work.css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/21.0.1/min/jcanvas.min.js"
            integrity="sha512-pu2L+33GBCuTrTU3mNJphG2Hm2JKlLA01280LIiz29D40f/UFOU5dEVxVuW46p+HZeZhXvQsUxtVFxPabX9S9g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/index.js"></script>
</head>
<body>
<div id='header' class='simple_border'>
    <p style='grid-row: 1;grid-column: 1'>
        {{lorem_ipsum}}
    </p>
    <div style="width: 140px; height: 100%;grid-row: 1;grid-column: 2; margin-right: 20px; margin-left: 10px;">
        <div class='x_y vertical_center' id='x_block'>
            <h2 style='text-align: center; margin: 0; width: 100%;' class="vertical_center">Heading 1</h2>
        </div>
    </div>

</div>
<div id='main'>
    <div id='second' class="main">{{lorem_ipsum}}</div>
    <div id='third' class="main"></div>
    <div id='fourth' class="main">{{lorem_ipsum}}</div>
    <div id='fifth' class="main">
        <input type="button" value="Play" id='play_button'/>
        <div id='animation_log' class="white"></div>
    </div>
    <div id='sixth' class="main">{{lorem_ipsum}}</div>
</div>
<div id='footer' class="simple_border">
    <p>{{lorem_ipsum}}</p>
    <div style="width: 140px; height: 100%;grid-row: 1;grid-column: 2; margin-right: 20px; margin-left: 10px">
        <div class='x_y vertical_center' style="overflow: hidden">
            <h2 style='text-align: center; width: 100%; margin:0; margin-left: 10px; ' class="vertical_center">Heading
                2 </h2>
        </div>
    </div>
</div>
<div id='work'>
    <div id='controls'>
        <div id='buttons'>
            <!--            <div style="text-align: center;">Buttons</div>-->
            <div style="text-align: center;">
                <input type='button' value='Close' id='close_button'/>
                <input type='button' value='Start' id='start_button'/>
                <input type='button' value='Stop' id='stop_button'/>
                <input type='button' value='Reload' id='reload_button'/>
            </div>
        </div>
        <div id='messages'>
            <div id='message' style="text-align: center;"></div>
        </div>
    </div>
    <div id='anim'>
        <div id='square'></div>
        <canvas id="canvas" width="100px" height="100px"></canvas>
    </div>
</div>
</body>
</html>